body {
    background-color: #50623c;
    font-family: Arial,Helvetica,sans-serif;
}
p:first-letter, .big {
    font-size: 20px;
}
a {
    color: inherit;
}
a:hover {
    color: #ffffff;
}
.tab {
    padding-left: 20px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h1, h2 {
    line-height: 30px;
}
#container {
    position: absolute;
    left: 50px;
    right: 50px;
    top: 10px;
    bottom: 50px;
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
#header {
    position: absolute;
    background-color: #9ab665;
    left: 10px;
    right: 10px;
    top: 15px;
    height: 100px;
    opacity: 0.8;
    z-index: 100;
}
#header-text {
    position: absolute;
    right: 300px;
    width: 400px;
    color: #264c29;
}
#header-text h1 {
    line-height: 5px;
}
#header-text h2 {
    line-height: 5px;
    padding-left: 20px;
    color: #4b4b4b;
}
#header-text a {
    font-style: normal;
    text-decoration: none;
    color: inherit;
}
#menu-bar {
    position: absolute;
    bottom: 0px;
}
#menu-bar ul {
    list-style-type: none;
}
#menu-bar ul li {
    position: relative;
    display: inline;
    float: left;
    height: 30px;
    background-color: #3a643b;
    padding: 3px 10px;
    font-size: 26px;
}
#menu-bar ul li:hover {
    opacity: 0.7;
}
#menu-bar ul li a {
    color: inherit;
    text-decoration: none;
}
#menu-bar ul li.menu-bar-current {
    color: #ffffff;
    opacity: 0.7;
}
#logo {
    position: absolute;
    right: 10px;
    top: 3px;
    width: 175px;
    height: 93px;
    background-image: url('images/logo.png');
}
#menu-left {
    position: absolute;
    left: 10px;
    top: 150px;
    min-height: 400px;
    width: 200px;
    background-color: #48674b;
    opacity: 0.9;
    z-index: 50;
}
#menu-right {
    position: absolute;
    right: 10px;
    top: 150px;
    min-height: 400px;
    width: 200px;
    background-color: #48674b;
    opacity: 0.9;
    z-index: 50;
}
#content {
    position: absolute;
    left: 260px;
    right: 160px;
    top: 150px;
    min-height: 400px;
    min-width: 600px;
    background-color: #48674b;
    /*opacity: 0.9;*/
    padding-left: 25px;
    padding-right: 25px;
}
#menu-left h1 {
    font-size: 16px;
    text-align: center; 
    background-color: #9ab665;
    border-style: solid;
    border-width: 2px;
    border-color: #6f6f6f;
}
#roadmap {
    float: right;
    height: 390px;
    width: 300px;
}
#warning {
    position: absolute;
    display: none;
    top: 100px;
    margin-top: 25px;
    left: 100px;
    right: 100px;
    z-index: 100000;
    padding: 25px;
    background-color: #3a643b;
}
#warning_close_button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 31px;
    width: 31px;
    background-image: url('images/close_icon.png');
    cursor: pointer;
}
#warning_close_text {  
    font-style: italic;
}
img.image {
    float: right;
    width: 180px;
    opacity: 1.0;
    margin: 5px 5px;
}
#slideshow, #slideshow-big {
    background-repeat: no-repeat;
    background-position: center;
}
#slideshow {
    margin-left: auto;
    margin-right: auto;
}
#slideshow-big {
    float: left;
}
#images-left {
    left: 10px;
    float: left;
    width: 180px;
}
#images-right {
    right: 10px;
    float: right;
    width: 180px;
}